.App {
  text-align: center;
  padding: 150px;
  background-color: #28282f;
}

.Counter {
  display: inline-block;
  padding: 50px;
  border: 3px solid rgba(103,201,231,0.75);
  border-radius: 5px;
}

.error {
  color: red;
}

.Button {
  padding: 20px;
}

.Button-item {
  background-color: #559eb5;
  width: 100px;
  height: 50px;
  margin-inside: 20px;
  margin: 1em;

}

.display {
  border:5px solid rgba(39,39,48,0.75);
  padding: 40px 0;
  background-color: rgba(103,201,231,0.75);
}